{% extends "base.html" %}
{% load staticfiles %}

<title>{% block title %}inkpressure.com{% endblock title %}</title>


{% block content %}

  {% block extra_js %}
    <script src="{% static 'js/iro.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/flow.js' %}"></script>
  {% endblock extra_js %}

  <style>
    #sprayswatch {
      fill: var(--selected-color);

    }

    body {

    }

    #swatch {
      height: 50px;
      width: 50px;
      border: 2px solid #000234;
      border-radius: 5px;
      background-color: var(--selected-color);

    }

    .mainwidget {
      margin: 20px;
    }

    a.remove, a.cart {
      background-color: ;
    }

    input.num {
      width: 40px;
    }

    a.remove {
      background-color: #fffef2;

    }

    a.cart {
      background-color: blue;
    }

    #color-triage {
      width: 200px;
      height: 150px;
      padding: 2px;
      align-content: center;
    }

    .painttriage {
      border-radius: 20px;
      position: relative;
      fill: var(--selected-color);
      background-repeat: no-repeat;
      width: 200px;
      box-shadow: 1px 1px 5px 3px #000234;

    }

    .highz {
      position: relative;
      z-index: 28;
    }

    .triagetype {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
      z-index: 8;
    }

  </style>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Custom Spray Paint</h2>

      </div>
    </div>
  </div>

  <script src="{% static 'js/iro-dynamic-css.min.js' %}"></script>

  <script>
    iro.use(iroDynamicCss);
    var colorPicker = new iro.ColorPicker(".colorPicker", {});
    iro.use(iroDynamicCss);
    var values = document.getElementById("values");
    var css = document.getElementById("css");

    colorPicker.on("color:change", function (color) {
      values.innerHTML = [
        "hex: " + color.hexString,
        "rgb: " + color.rgbString,
        "hsl: " + color.hslString,
      ].join("<br>");

      // Get the dynamic stylesheet content and pretty-print it by replacing newlines and tabs with suitable html
      css.innerHTML = colorPicker.stylesheet.cssText.replace(/([\n\t])/g, function ($1) {
        switch ($1) {
          case "\n":
            return "<br>";
          case "\t":
            return "&nbsp;&nbsp;";
        }
      });
    });
  </script>
  <div id="spray"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="main-widget" id="color-picker-container"></div>
      </div>
        <div class="col"><div id="swatch"></div>
        </div>
        </div>
        <div class="col">
        <div class="main-widget" id="color-triage"></div>
        </div>

      <div class="col">

        <div class="main-widget" id="color-cart"></div>
      </div>
    </div>

  <script>
    iro.use(iroDynamicCss);
    colorPicker.on("color:change", function (color) {
      values.innerHTML = [
        "hex: " + color.hexString,
        "rgb: " + color.rgbString,
        "hsl: " + color.hslString,
      ].join("<br>");
      css.innerHTML = colorPicker.stylesheet.cssText.replace(/([\n\t])/g, function ($1) {
        switch ($1) {
          case "\n":
            return "<br>";
          case "\t":
            return "&nbsp;&nbsp;";
        }
      });
    });
    var values = document.getElementById("values");
    var css = document.getElementById("css");
    var picker = new iro.ColorPicker("#color-picker-container", {
      width: 220,
      wheelLightness: true,
      css: {
        ':root': {
          '--selected-color': '$color'
        }
      },
      layout: [{
        component: iro.ui.Wheel,
        options: {
          borderColor: '#000234',
          height: 400,
          handleRadius: 15,
          borderWidth: 3,
          padding: 2,
        }
      },
        {
          component: iro.ui.Slider,
          options: {
            borderColor: "#000234",
            handleRadius: 15,
            sliderHeight: 15,
            borderWidth: 2,
            padding: 2,

          }
        }
      ]
    });
    colorPicker.on("color:change", function (color) {

      values.innerHTML = [
        "hex: " + color.hexString,
        "rgb: " + color.rgbString,
        "hsl: " + color.hslString,
      ].join("<br>");

      css.innerHTML = colorPicker.stylesheet.cssText.replace(/([\n\t])/g, function ($1) {
        switch ($1) {
          case "\n":
            return "<br>";
          case "\t":
            return "&nbsp;&nbsp;";
        }
      });
    });

    function triage(color) {
      var inky = new ink(color);
    }
    picker.on("input:end", triage);

  </script>


{% endblock content %}




