{% extends "base.html" %}
{% load staticfiles %}

<title>{% block title %}inkpressure.com{% endblock title %}</title>


{% block content %}

{% block extra_js %}
    <script src="{% static 'js/iro.js' %}"></script>
{% endblock extra_js %}

<style>
.triage-box {
  padding: 5px;
  max-width: 500px;

}
#color-triage .swatch {
  width:550px;
  height: 100px;
  padding: 3px;
  font-family: "Permanent Marker", sans-serif;
}
.awesome {
      font-family: "Whoa!", sans-serif;
      -webkit-animation:colorchange 20s infinite alternate;

    }

    @-webkit-keyframes colorchange {
      0% {

        color: #000234;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #a2b3bc;
      }

      30% {

        color: #f01c00;
      }

      40% {

        color: #3aa4ff;
      }

      50% {

        color: #e300a0;
      }

      60% {

        color: blue;
      }

      70% {

        color: #ffffff;
      }
      80% {

        color: #f4f010;
      }
    }
p {
  font-family: "Coming Soon", sans-serif;
}

</style>
  <div class="col-12">
    <h2 class="awesome">Custom Spray Paint</h2>
  </div>
  <div class="col">
         <p>1) Pick your colors and create a palette of paints.</p>
     <div class="col">
          <p>2) Choose from the different types of paint and additives:)</p>
      <div class="col">
          <p>3) Order Your Custom Spray Paint!</p>
        <p class="awesome">Spray Away!</p>
  </div>

   <div id="color-picker-container"></div>

  <div id="color-triage" style="align-content: flex-start">
      <h1 style="text-align: center">My Colors</h1>
        <div id="palette"></div>
</div>
  <h5>Order</h5>
    <table id="ptable">
          <tr><td>COLOR </td>  <td> HEX </td>  <td> Matte </td>  <td> Glossy </td>  <td> Pearl</td></tr>
    </table>
</div>

  <button class="btn-outline-success btn-lg" onclick="createpalette()">Order Paint</button>

<script>

  var picker = new iro.ColorPicker("#color-picker-container", {
    handleSvg: '#handle',
    width: 180,
    css: {
    'body': {
      'border-color': '$color'
    },
    // CSS variables are supported too
    // https://github.com/jaames/iro-dynamic-css#css-variables
    ':root': {
      '--selected-color': '$color'
    }
  },
  layout: [
    {
      component: iro.ui.Wheel,
        options: {
          borderColor: '#000234',
          height: 400,
          handleRadius: 10,
          borderWidth: 3,

        }
    },
    {
      component: iro.ui.Slider,
        options: {
        borderColor: "#000234",
        handleRadius: 15,
        sliderHeight: 15,
        borderWidth: 2,

      }
    }
  ]
});
function componentToHex(c) {

  var hex = c.toString();

  return hex.length == 1 ? "0" + hex : hex;
}
function rgbToHex(r, g, b) {

  return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
}

function removefrompalette(color){

  var x = document.getElementById('triage-'+color);
  x.parentElement.removeChild(x);
}
function createpalette(){

  var p = document.getElementById('ptable');

  var x = document.getElementsByClassName("triage-box");

  for (i = 0; i < x.length; i++) {

    var c = x[i].id.replace('triage-','');

    var n = document.getElementById('label-'+c).value;

    if (n=='[label]') n = 'Paint';

    var m = document.getElementById('matte-'+c);
    var mm = 'n';
    if (m.checked) mm='y';

    var g = document.getElementById('glossy-'+c);
    var gg = 'n';
    if (g.checked) gg='y';

    var r = document.getElementById('pearl-'+c);
    var rr = 'n';
    if (r.checked) rr='y';

p.innerHTML += '<tr><td>'+n+'</td><td>'+c+'</td><td>'+mm+'</td><td>'+gg+'</td><td>'+rr+'</td></tr>'
  }
}

function triage(color) {
  document.getElementById('color-triage').innerHTML += '<div class="triage-box swatch" id="triage-'+color.hexString+'" style="border-radius:10px; background-color:'+color.hexString+'">' +

    '<input class="login" id="label-'+color.hexString+'" type="text" size="20" value="name">'

    +'One Stage <input id="matte-'+color.hexString+'" type="radio">'
    +'Clear Coat<input id="glossy-'+color.hexString+'" type="radio">'
    +'Pearl <input id="pearl-'+color.hexString+'" type="radio">'

    +'<a style="color: white" href="#" onclick="removefrompalette(\''+color.hexString+'\')">'
    + '<div class="btn-danger" ' +
    'style="color: #000234 margin: 3px; width: 65px; height:25px; border-radius: 5px" >Remove<div></a>'

    +'<a style="color: white" href="#" onclick="addToPalette(\''+color.hexString+'\')">'
    + '<div class="btn-success" ' +
    ' margin" 3px;width: 75px; height: 30px; border-radius: 5px" '+color.hexString+'>Add</a>'+'</div>';
}
picker.on("input:end", triage)

</script>

{% endblock content %}
