{%extends 'oscar/base.html' %}
{% block favicon %}
<link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
{% endblock %}

{# Block where global CSS will go. #}
{% block styles %}{% endblock %}

{# Additional CSS - specific to certain pages #}
{% block extrastyles %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block tracking %}
{# Default to using Google analytics #}
{% include "partials/google_analytics.html" %}
{% endblock %}
{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
{# Main content goes in this 'layout' block #}
{% block layout %}{% endblock %}


{# Local scripts #}
{% block scripts %}
{% endblock %}

{# Additional JS scripts #}
{% block extrascripts %}{% endblock %}
