{%extends 'oscar/base.html' %}
{%load staticfiles %}
{% block favicon %}
<link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
{% endblock %}

{# Block where global CSS will go. #}
{% block styles %}
<link href={% static "css/squeeze.css" %} rel="stylesheet" />
{% endblock %}

{# Additional CSS - specific to certain pages #}
{% block extrastyles %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block tracking %}
{# Default to using Google analytics #}
{% include "partials/google_analytics.html" %}
{% endblock %}
{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
{# Main content goes in this 'layout' block #}
{% block layout %}{% endblock %}


{% block scripts %}
<script type="text/javascript" src={% static 'js/squeeze.js' %}></script>
{% endblock %}


{% block extrascripts %}{% endblock %}

{% block onbodyload %}{% endblock %}
